.menu-card-body {
    width:100%;
    height: fit-content;
    display: flex;
    /* Añadimos estas propiedades para un mejor control del contenido */
    align-items: center; /* Centra los elementos verticalmente dentro del contenedor flex */
    gap: 10px; /* Añade un espacio entre los elementos, si deseas */
    padding: 10px; /* Añade un poco de relleno al contenedor para que el contenido no esté pegado a los bordes */
}

.menu-card-image {
    height: 100px;
    width: 150px;
    /* Asegúrate de que la imagen no se encoja o agrande inecesariamente */
    flex-shrink: 0; /* Evita que la imagen se encoja */
    flex-grow: 0;   /* Evita que la imagen crezca */
    object-fit: cover; /* Asegura que la imagen se ajuste bien sin distorsionarse */
}

.menu-card-button {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    /* Si este botón es un elemento hijo directo de .menu-card-body, estas propiedades son importantes */
    display: flex; /* Para centrar el contenido (como un ícono) dentro del botón */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    flex-shrink: 0; /* Evita que el botón se encoja */
}

.menu-card-info{
    display: grid;
}


.menu-card-info-header {
    display: flex;
}

.menu-card-price{
    
}